html, body, figure, ul, li, title, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;

  width: 100%;
  height: auto
}

body{
  background-color: darkblue;
}

figure {
  height: 700px;
  width: 900px;
  margin: auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 73px;
  color: darkgreen;
  font-family: sans-serif;
  font-weight: bolder;
}

ul {
  float: left;
  height: 12px;
  margin: auto;
}

li {
  display: inline-block;
  vertical-align: top;
  float: left;
  list-style-type: none;
  border: 1px solid black;
  height: 100%;
  width: 12px;
}

.snake{
  background-color: purple;
  border: 1px solid black;
}

.apple{
  background-color: red;
  border: 1px solid black;
}

.super-apple {
  background-color: limegreen;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
